header {
	border:1px solid black;
	display:flex;
	flex-direction : row;
	align-items :center;
}

img.logo
{
	border:1px solid black;
	width:80px;
}
a.black {
	color: #000000 ;
}

nav
{
	width:1240px;
	border:1px solid black;
	display:flex;
	flex-direction : row;
	justify-content: flex-end;
	align-items :center;
	font-family: Raleway;
	font-size: 14pt;
}
button.R{
	background-color: blue;
	color: white;
	border-radius: 50px;
	height: 30px;
}
button.F{
	background-color: white;
	color: black;
	border-radius: 50px;
	height: 35px;
	width: 135px
}

div.filtrage {
	display:flex;
	flex-direction : row;
	align-items :center;
}

.RECH {
	height: 36px;
}

.hebergement-1 {
	border-radius: 10px;
	width:830px;
	height: 730px;
	border:1px solid black;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	align-items: center;
	background-color: #D3D3D3;
}

.milieu-page {
	width: 1339px; 
	border:1px solid black;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

img.HebM {
	 width: 100%; 
     height: 100%; 
     object-fit: cover; 
     object-position: 50% 50%; 
}
figure {
	border:1px solid black;
	width:175px;
	height: 100px;
	background-color: white;

}

figcaption {
	border:1px solid black;
	background-color: white;

}

.pop {
	border-radius: 10px;
	width:460px;
	height: 730px;
	border:1px solid black;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	align-items: center;
	
	background-color: #D3D3D3;
}

.cont-img {
	border-radius: 10px;
	width:235px;
	height: 180px;
	display:flex;
	background-color: white;
	border:1px solid black;
	display:flex;
	justify-content: center;

}

.cont-imgp {
	border-radius: 10px;
	width:425px;
	height: 180px;
	display:flex;
	background-color: white;
	border:1px solid black;
	display:flex;
	flex-wrap: wrap;
	

}
p.droite{
	border:1px solid black;
	position: absolute;
 	
 	top: 370px;
 	right: 70px
	
}
p.droites{
	border:1px solid black;
	position: absolute;
 	
 	top: 570px;
 	right: 105px
	
}
p.droitess{
	border:1px solid black;
	position: absolute;
 	
 	top: 790px;
 	right: 75px
	
}
.titre{
	width:830px;
	border:1px solid black;
	display: flex;
	justify-content: flex-start;
	
}
.titre1{
	width:830px;
	border:1px solid black;
	display: flex;
	justify-content: flex-start;
}
