body,
main,
footer {
	width: auto;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


a {
	text-decoration: none;
	color: black;
}


a.blue {
	color: #0065FC;
}


footer {
	width: 100%;
	flex-direction: column;
	background-color: #F2F2F2;
}


ul {
   	list-style: none; /* enlever les puces */
   	margin: 0; /* enlever les marges automatiques */
    border:0px solid black;
   	padding-left: 0px;
}

.liste-A-propos,
.liste-nos-heb,
.liste-Assistance {
	list-style-type: none;
	text-decoration: none;
}


p { 
	background-color: white;
	border-radius: 10px;
}


figcaption {
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


img.HebM {
	width: 100%; 
	height: 100%; 
	object-fit: cover; 
	object-position: 50% 50%; 
	border-radius: 5px;
}


main > #heb {
	order:2 ;
	width: 460px;
	height: 1500px;
	border:0px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	align-items: flex-start;
	background-color: white;
	border-radius: 5px;
	
}


main > .pop {
	position: relative;
	order:1 ;
	width: 460px;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;	
	align-items: flex-start;	
	border:0px solid black;
	border-radius: 5px;
	background-color: #F2F2F2;
}


main > #ac {
	position: relative;
	order:3;
	width: 460px;
	height: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border:0px solid black;
}

.fa-chart-line {
	border:0px solid black;
	width: 235px;
	height: 16px;
	text-align: right;
}

.fa-info-circle {
	background-color: white;
	color: #0065FC;
}


.fa-star {
	color: #0065FC;
}


header {
	width: 100%;
	display:flex;
	align-items :center;
	border:0px solid black;
}


nav  {
	width:100%;
	display: flex;
	flex-direction:row;
	justify-content: flex-end;
	border:0px solid black;
}


.logo {
	width: 80px;
}


.filtrage {	
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items :center;
	border:0px solid black;
		
}



.fa-money-bill-wave {
	margin-left: -5px;
	padding-top: 7px;
	border-radius: 50%;
	border:0px solid black;
	text-align: center;
	align-content: center;
	width: 40px;
	height: 20px;
	color: #0065FC;
	background-color: #DEEBFF;

}


.fa-male {
	margin-left: -5px;
	padding-top: 7px;
	border-radius: 50%;
	border:0px solid black;
	text-align: center;
	align-content: center;
	width: 40px;
	height: 20px;
	color: #0065FC;
	background-color: #DEEBFF;
}


.fa-heart {
	margin-left: -5px;
	padding-top: 7px;
	border-radius: 50%;
	border:0px solid black;
	text-align: center;
	align-content: center;
	width: 40px;
	height: 20px;
	color: #0065FC;
	background-color: #DEEBFF;
}


.fa-dog {
	margin-left: -5px;
	padding-top: 7px;
	border-radius: 50%;
	border: 0px solid black;
	text-align: center;
	align-content: center;
	width: 40px;
	height: 20px;
	color: #0065FC;
	background-color: #DEEBFF;	
}


button.F {
	
	background-color: white;
	border: 2px solid #e7e7e7;
	color: black;
	text-align: left;
	font-weight: bold;
	border-radius: 50px;
	height: 33px;
	width: 200px;		
}


.recherche {
	width: 100%;
	position: relative;
	flex-direction: column;
	border:0px solid black;
}


input {
	border: 2px solid #e7e7e7;
	padding-left: 37px;
	border-radius: 5px;
	height: 25px;
	width: 250px;

}


button.R {
	margin-left: -91px;
	background-color: #0065FC;
	color: white;
	box-shadow:none;
	border-radius: 5px;
	height: 28px;

}


.fa-map-marker-alt {
	border:0px solid black;
	text-align: center;
	position: absolute;
	left: 3px;
	top: 133px;
	width: 30px;		
	height: 24px;
	color: black;
	background-color: #F2F2F2;
		
}


article,
section {
	width: auto;
	height: auto;
	flex-wrap: wrap;
}


.populaire {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 200px;
	height: 150px;
	border:0px solid white;
	border:3px solid white;
	border-radius: 5px;
	
}


.hebergements {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 400px;
	height: 150px;
	border-radius: 5px;
	border:3px solid white;
	
}


.photo-A-fixe {
	border-radius: 10px;
	border:0px solid black;
	width:400px;
	height: 150px;
	
}


.photo-A-enLongeur {
	border: thin #c0c0c0 solid;
    
	border-radius: 10px;
	border:0px solid black;
	width:400px;
	height: 150px;

}


.parc {
	border-radius: 10px;
	border:0px solid black;
	width:400px;
	height: 150px;
	position: absolute;
 	
 	top: 990px;
 	right: -20px;
}


.ile {
	border-radius: 10px;
	border:0px solid black;
	width:400px;
	height: 150px;
	position: absolute;
 	
 	top: 800px;
 	right: -20px;
}


p.legende-hotelSoleil {
	background-color: white;
	border-radius: 10px;
	border:0px solid black;
	height: 156px;
	width: 200px;
	text-align: center;
	position: absolute;	
	top: 66px;
	right: 13px;
		
}


p.legende-HotelCoeur {
	background-color: white;
	border-radius: 10px;
	border:0px solid black;
	height: 154px;
	width: 200px;
	text-align: center;
	position: absolute;	
	top: 255px;
	right: 14px;
		
}


p.legende-HotelBleuBlanc {
	background-color: white;
	border-radius: 10px;
	border:0px solid black;
	height: 156px;
	width: 200px;
	text-align: center;
	position: absolute; 	
	top: 441px;
	right: 15px;
		
}


.legende-A {
	background-color: white;
	color: black;
	padding: 3px;
	text-align: center;
	font-weight: bold;
}


.gras {
	font-weight: bold;
}





@media screen and (min-width: 576px)  { 

	body {
		font-family: raleway;
		display: flex;
		flex-direction: column;
		
	}


	main {
		width: 1339px; 
		border:0px solid black;
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
	}


	img.HebM {
		 width: 100%; 
    	 height: 100%; 
    	 object-fit: cover; 
    	 object-position: 50% 50%; 
	}


	.hebergements {
		padding: 3px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 10px;
		border:0px solid white;
		width:190px;
		height: 130px;
	
	}


	.populaire {
		padding: 3px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 10px;
		border:0px solid white;
		width:185px;
		height: 132px;
	}

	


	figcaption {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border:3px solid white;
		background-color: white;
		border-radius: 10px;

	}


	.fa-map-marker-alt {
		border:0px solid black;
		text-align: center;
		position: absolute;
		left: 3px;
		top: 105px;
		width: 30px;
		height: 24px;
		color: black;
		background-color: #F2F2F2;
		
	}


	.filtrage {
		position: relative;
		width: 900px;
		flex-direction: row;

		border:0px solid black;
		
	}




	main > #heb {
		order:1 ;
		border-radius: 10px;
		width:830px;
		height: 580px;
		border:0px solid black;	
		flex-wrap: wrap;
		justify-content: flex-start;	
		align-items: flex-start;
		align-content: space-between;
		background-color: #F2F2F2;
		
		
	}


	main > .pop {
		position: relative;
		order:2 ;
		border-radius: 10px;
		width:460px;
		height: 580px;
		border:0px solid black;
		display:flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: space-between;
		align-items: flex-start;	
		background-color: #F2F2F2;
			
	}


	main > #ac {
		position: relative;
		width:1339px;
		height: 510px;
		flex-direction: row;
		justify-content: flex-start;
		border:0px solid black;
		background-color: white;
		
		
	}


	a.black {
		color: #000000 ;
		text-decoration: none;
	}


	.lien {
		
		text-decoration: none;
	}


	button.F:hover {
		background-color:  #F2F2F2;
	}


	p.legende-hotelSoleil {
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 10px;
		border:0px solid black;
		height: 135px;
		width: 200px;
		text-align: center;
		position: absolute;
	 	top: 70px;
	 	right: 30px;
		
	}


	p.legende-HotelCoeur {
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 10px;
		border:0px solid black;
		height: 135px;
		width: 200px;
		text-align: center;
		position: absolute;
	 	top: 240px;
	 	right: 30px;
		
	}


	p.legende-HotelBleuBlanc {
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 10px;
		border:0px solid black;
		height: 135px;
		width: 200px;
		text-align: center;
		position: absolute;
	 	top: 411px;
	 	right: 30px;
		
	}


	.photo-A-fixe {
		border-radius: 10px;
		border:0px solid black;
		width:250px;
		height: 150px;
		
	}


	.parc {
		border-radius: 10px;
		border:0px solid black;
		width:250px;
		height: 100px;
		position: absolute;	 	
	 	top: 335px;
	 	right: 20px;
	}


	.ile {
		border-radius: 10px;
		border:0px solid black;
		width:250px;
		height: 100px;
		position: absolute;
	 	top: 335px;
	 	right: 678px;
	}


	.photo-A-enLongeur {
		border: thin #c0c0c0 solid;
		border-radius: 10px;
		border:0px solid black;
		width:250px;
		height: 330px;
		

	}

	
	.legende-A {
		background-color: white;
	    color: black;
	    padding: 3px;
	    text-align: center;
	    font-weight: bold;
	}


	.gras {
		font-weight: bold;
	}


	footer {
		
		width: 100%;
		flex-direction: row;
		justify-content: flex-start;
		align-content: space-around;
		background-color: #F2F2F2;

	}


	.bloc {
		border:0px solid black;
		width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-left: 0px;

	}


	ul {
   		 list-style: none; /* enlever les puces */
   		 margin: 0; /* enlever les marges automatiques */
   		 border:0px solid black;
   		 padding-left: 0px;
	}
 
 
	a {
		text-decoration: none;
		color: black;
	}
}









