@media screen and (min-width: 1px) {
  body,
  main,
  footer {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer {
    width: 100%;
    flex-direction: column;
    margin-top: 15px;
    background-color: #f2f2f2;
  }

  h3 {
    margin: 0;
    font-weight: bold;
  }

  header.navigation {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .logo {
    width: 80px;
    height: 50px;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
  }

  a.couleur-heb {
    position: absolute;
    top: 55px;
    left: 0;
    width: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    height: 40px;
  }

  a.couleur-inscrit {
    font-size: 20px;
    width: 70px;
    display: flex;
    align-items: center;
    color: #0065fc;
    height: 40px;
  }

  a.couleur-ac {
    position: absolute;
    top: 55px;
    right: 0;
    width: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    height: 40px;
  }

  a.couleur-ac:hover {
    border-bottom: 1px solid blue;
  }

  a.couleur-heb:hover {
    border-bottom: 1px solid blue;
  }

  a.couleur-inscrit:hover {
    border-bottom: 1px solid blue;
  }

  .recherche {
    width: 100%;
    position: relative;
    flex-direction: column;
  }

  input {
    border: 2px solid #e7e7e7;
    padding-left: 37px;
    border-radius: 8px;
    height: 25px;
    width: 250px;
  }

  .fa-map-marker-alt {
    text-align: center;
    position: absolute;
    left: 3px;
    top: 133px;
    width: 30px;
    height: 24px;
    color: black;
    background-color: #f2f2f2;
  }

  button.R {
    margin-left: -86px;
    border-top-right-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border: none;
    background-color: #0065fc;
    color: white;
    box-shadow: none;
    height: 28px;
  }

  .filtrage {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
  }

  button.F {
    margin: 10px;
    background-color: white;
    border: 2px solid #e7e7e7;
    color: black;
    text-align: left;
    font-weight: bold;
    border-radius: 50px;
    height: 33px;
    width: 200px;
  }

  .F:hover {
    background-color: #f2f2f2;
  }

  .fa-money-bill-wave {
    margin-left: -5px;
    padding-top: 7px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    width: 40px;
    height: 20px;
    color: #0065fc;
    background-color: #deebff;
  }

  .fa-male {
    margin-left: -5px;
    padding-top: 7px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    width: 40px;
    height: 20px;
    color: #0065fc;
    background-color: #deebff;
  }

  .fa-heart {
    margin-left: -5px;
    padding-top: 7px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    width: 40px;
    height: 20px;
    color: #0065fc;
    background-color: #deebff;
  }

  .fa-dog {
    margin-left: -5px;
    padding-top: 7px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    width: 40px;
    height: 20px;
    color: #0065fc;
    background-color: #deebff;
  }

  .titre {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .titre-secondaire {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .fa-info-circle {
    background-color: blue;
    color: white;
  }

  article,
  section {
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }

  main > .Heb {
    order: 2;
    width: 374px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  main > .pop {
    position: relative;
    border-radius: 50px;
    order: 1;
    width: 374px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #f2f2f2;
  }

  main > .activite {
    border-radius: 10px;
    position: relative;
    order: 3;
    width: 374px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .populaire {
    display: flex;
    align-items: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid white;
    border-radius: 10px;
  }

  .legende-hotelSoleil {
    padding: 10px;
    width: 180px;
  }

  .legende-HotelCoeur {
    padding: 10px;
    width: 180px;
  }

  .legende-HotelBleuBlanc {
    padding: 10px;
    width: 180px;
  }

  figure {
    margin-left: 1px;
  }

  .fa-chart-line {
    width: 175px;
    height: 16px;
    text-align: right;
  }

  img.img-pop {
    width: 180px;
    height: 150px;
    border-radius: 10px;
  }

  header {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .hebergements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid white;
    border-radius: 10px;
  }

  .heberg {
    padding: 10px;
    height: 75px;
  }

  .img-heb {
    width: 350px;
    height: 150px;
  }

  .fa-star {
    color: #0065fc;
  }

  img.img-ac {
    width: 360px;
    height: 150px;
  }

  img.img-acL {
    width: 360px;
    height: 150px;
  }

  img.img-acF {
    width: 360px;
    height: 150px;
  }

  .legende-A {
    background-color: white;
    color: black;
    padding: 3px;
    text-align: center;
    font-weight: bold;
  }

  .photo-A-fixe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }

  .photo-A-enLongeur {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }

  .parc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }

  .ile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }

  ul {
    list-style: none; /* enlever les puces */
    margin: 0; /* enlever les marges automatiques */
    color: black;
    padding-left: 1px;
  }

  li {
    height: 30px;
  }

  .foot {
    height: 30px;
  }

  .bloc {
    margin-top: 25px;
    margin-left: 40px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

@media screen and (min-width: 377px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .legende-A {
    background-color: white;
    color: black;
    text-align: middle;
    font-weight: bold;
    border-radius: 10px;
  }

  a.couleur-heb {
    position: static;
    font-size: 15px;
  }

  a.couleur-inscrit {
    font-size: 15px;
  }

  a.couleur-ac {
    position: static;
    font-size: 15px;
  }

  header.navigation {
    position: relative;
    width: 100%;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .fa-chart-line {
    width: 500px;
  }

  .fa-map-marker-alt {
    text-align: center;
    position: absolute;
    left: 3px;
    top: 105px;
    width: 30px;
    height: 24px;
    color: black;
    background-color: #f2f2f2;
  }

  .filtrage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
  }

  main > .Heb {
    order: initial;
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  main > .pop {
    order: initial;
    position: relative;
    width: 760px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  main > .activite {
    order: initial;
    position: relative;
    width: 768px;
    flex-direction: row;
    justify-content: flex-start;
  }

  img.img-heb {
    width: 325px;
    height: 95px;
    border-radius: 10px;
  }

  img.img-pop {
    width: 450px;
    height: 225px;
    border-radius: 10px;
  }

  footer {
    width: 768px;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
    background-color: #f2f2f2;
  }

  .bloc {
    width: 320 px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0;
  }

  .photo-A-fixe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }

  .parc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: absolute;
    top: 280px;
    right: 11px;
  }

  .ile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: absolute;
    top: 280px;
    right: 260px;
  }

  .photo-A-enLongeur {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }

  img.img-acL {
    border: 1px solid black;
    width: 210px;
    height: 150px;
  }

  img.img-acF {
    border: 1px solid black;
    width: 210px;
    height: 150px;
  }

  img.img-ac {
    border: 1px solid black;
    width: 210px;
    height: 150px;
  }

  .legende-hotelSoleil {
    width: 250px;
  }

  .legende-HotelCoeur {
    width: 250px;
  }

  .legende-HotelBleuBlanc {
    width: 250px;
  }

  figure {
    margin-left: 1px;
  }
}

@media screen and (min-width: 800px) {
  header.navigation {
    margin-left: 40px;
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .titre-secondaire {
    margin-left: 40px;
  }

  .recherche {
    margin-left: 40px;
    width: 100%;
    position: relative;
    flex-direction: column;
  }

  nav {
    margin-right: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
  }

  .filtrage {
    margin-left: 40px;
    width: 1300px;
  }

  main > .Heb {
    margin-left: 40px;
    order: initial;
    width: 1250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  main > .pop {
    margin-right: 40px;
    order: initial;
    position: relative;
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  main > .activite {
    margin-left: 40px;
    margin-right: 40px;
    order: initial;
    position: relative;
    width: 1820px;
    flex-direction: row;
    justify-content: flex-start;
  }

  img.img-heb {
    width: 350px;
    height: 135px;
    border-radius: 10px;
  }

  img.img-pop {
    width: 250px;
    height: 135px;
    border-radius: 10px;
  }

  .legende-hotelSoleil {
    width: 210px;
  }

  .legende-HotelCoeur {
    width: 210px;
  }

  .legende-HotelBleuBlanc {
    width: 210px;
  }

  img.img-acL {
    width: 400px;
    height: 420px;
    border-radius: 10px;
  }

  img.img-acF {
    width: 420px;
    height: 150px;
    border-radius: 10px;
  }

  img.img-ac {
    width: 420px;
    height: 150px;
    border-radius: 10px;
  }

  .parc {
    border-radius: 10px;
    position: absolute;
    top: 335px;
    right: 5px;
  }

  .ile {
    border-radius: 10px;
    position: absolute;
    top: 335px;
    right: 910px;
  }

  .bloc {
    margin-top: 25px;
    margin-left: 40px;
    border: 0 solid black;
    width: 550px;
  }

  .fa-chart-line {
    width: 270px;
    height: 20px;
    text-align: right;
  }

  .logo {
    width: 100px;
    height: 60px;
  }

  footer {
    width: 1900px;
  }
}
