body,
main,
footer {
  min-width: 375px;
  display: flex;
  flex-wrap: wrap;
}

main {
  flex-wrap: wrap-reverse;
}

footer {
  width: 100%;
  flex-direction: column;
  margin-top: 15px;
  background-color: #f2f2f2;
}

h3 {
  width: 100%;
  margin: 0;
  font-weight: bold;
}

.fin-page {
  width: 100%;
  margin-left: 20px;
  font-weight: bold;
}

header.navigation {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.logo {
  width: 100px;
  height: 50px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}

a.couleur-heb {
  position: absolute;
  top: 55px;
  left: 0;
  width: 187px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  height: 50px;
  border-bottom: 2px solid #F2F2F2;
}

a.couleur-inscrit {
  font-size: 20px;
  width: 105px;
  display: flex;
  align-items: center;
  color: #0065fc;
  height: 40px;
}

a.couleur-ac {
  position: absolute;
  top: 55px;
  right: 0;
  width: 187px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  height: 50px;
  border-bottom: 2px solid #F2F2F2;
}

a.couleur-ac:hover,
a.couleur-heb:hover,
a.couleur-inscrit:hover {
  border-bottom: 1px solid blue;
}

.recherche {
  margin-left: 20px;
  width: 100%;
  position: relative;
  flex-direction: column;
}

input {
  border: 2px solid #e7e7e7;
  padding-left: 37px;
  border-radius: 8px;
  height: 25px;
  width: 250px;
}

.fa-map-marker-alt {
  text-align: center;
  position: absolute;
  left: 3px;
  top: 133px;
  width: 30px;
  height: 24px;
  color: black;
  background-color: #f2f2f2;
}

button.R {
  margin-left: -86px;
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border: none;
  background-color: #0065fc;
  color: white;
  box-shadow: none;
  height: 28px;
}

.filtrage {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

button.F {
  margin: 10px;
  background-color: white;
  border: 2px solid #e7e7e7;
  color: black;
  text-align: left;
  font-weight: bold;
  border-radius: 50px;
  height: 33px;
  width: 200px;
}

.F:hover {
  background-color:blue;
  color: white;
}

.fa-money-bill-wave,
.fa-dog,
.fa-heart,
.fa-male {
  margin-left: -5px;
  padding-top: 7px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  width: 40px;
  height: 20px;
  color: #0065fc;
  background-color: #deebff;
}

.titre {
  font-size: 1.2em;
  margin: 0 20px 20px 20px;
}

.titre-secondaire {
  width: 100%;
  margin: 0 20px 20px 20px;
}

.fa-info-circle {
  background-color: blue;
  color: white;
}

article,
section {
  width: auto;
  height: auto;
  flex-wrap: wrap;
}

.contenu-heb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.contenu-pop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.contenu-ac {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.Heb,
.activite {
  width: 100%;
  display: flex;
}

.pop {
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
}

.populaire {
  margin: 0 20px 20px 20px;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 5px solid white;
  border-radius: 25px;
}

.legende-hotel {
  background-color: white;
  padding: 10px;
  width: 160px;
  height: 115px;
}

figure {
  margin-left: 1px;
}

.fa-chart-line {
  width: 95px;
  height: 16px;
  text-align: right;
}

.img-pop {
  width: 130px;
  height: 135px;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  object-fit: cover;
}

.intro {
  margin: 0 20px 20px 20px;
}

.hebergements {
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 5px solid white;
  border-radius: 25px;
}

.heberg {
  background-color: white;
  width: 305px;
  padding: 10px;
  height: 75px;
}

.img-heb {
  width: 325px;
  height: 115px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.fa-star {
  color: #0065fc;
}

.contenu-photop {
  margin: 0 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.img-ac,
.img-acL,
.img-acF {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 325px;
  height: 197px;
  object-fit: cover;
}

.legende-A {
  height: 25px;
  background-color: white;
  color: black;
  font-weight: bold;
}

.photo-A-fixe,
.photo-A-enLongeur,
.parc,
.ile {
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

ul {
  list-style: none; /* enlever les puces */
  margin: 0; /* enlever les marges automatiques */
  color: black;
  padding-left: 1px;
}

li {
  height: 30px;
}

.foot {
  height: 30px;
}

.bloc {
  margin-top: 25px;
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 576px) {
  main {
    flex-wrap: wrap;
  }

  a.couleur-heb,
  a.couleur-inscrit,
  a.couleur-ac {
    position: static;
    font-size: 15px;
    border-bottom: 0;
  }

  header.navigation {
    height: auto;
    margin: 0 20px 20px 20px;
  }

  .titre-secondaire {
    margin: 0 20px 20px 20px;
  }

  .fa-chart-line {
    width: 440px;
  }

  .fa-map-marker-alt {
    position: absolute;
    left: 3px;
    top: 105px;
    width: 30px;
    height: 24px;
  }

  .img-heb {
    width: 310px;
    height: 115px;
  }

  .heberg {
    width: 290px;
  }

  .img-pop {
    width: 350px;
    height: 235px;
  }

  footer {
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
    background-color: #f2f2f2;
  }

  .bloc {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0;
  }

  .img-acL {
    width: 320px;
    height: 410px;
  }

  .img-acF {
    width: 280px;
    height: 180px;
  }

  img.img-ac {
    width: 280px;
    height: 180px;
  }

  .legende-hotel {
    width: 250px;
    height: 220px
  }

  figure {
    margin-left: 1px;
  }
}

@media screen and (min-width: 992px) {
  main {
    flex-direction: row;
  }

  header.navigation {
    margin-left: 20px;
    height: 100px;
  }

  a.couleur-ac:hover,
  a.couleur-heb:hover,
  a.couleur-inscrit:hover {
    border-top: 1px solid blue;
    border-bottom: 0;
  }

  .titre-secondaire {
    margin-left: 20px;
  }

  .recherche {
    margin-left: 20px;
  }

  nav {
    margin-right: 20px;
  }

  .filtrage {
    margin-left: 20px;
    width: 1000px;
  }

  .Heb {
    flex: 0.78;
    margin: 0 25px 0 25px;
    background-color: #f2f2f2;
  }

  .pop {
    flex: 0.2;
    margin: 0 25px 0 0;
    justify-content: space-between;
  }

  .contenu-ac {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .img-heb {
    width: 235px;
    height: 115px;
  }

  .heberg {
    width: 215px;
  }

  .img-pop {
    width: 125px;
    height: 135px;
  }

  .legende-hotel {
    width: 190px;
    height: 115px;
  }

  img.img-acL {
    width: 290px;
    height: 280px;
  }

  img.img-acF,
  img.img-ac {
    width: 280px;
    height: 117px;
  }

  .fa-chart-line {
    width: 150px;
    height: 20px;
    text-align: right;
  }

  .bloc {
    width: 400px;
  }

  .logo {
    width: 100px;
    height: 60px;
  }
}

@media screen and (min-width: 1500px) {
  .img-heb {
    width: 385px;
    height: 115px;
  }

  .heberg {
    width: 370px;
  }

  img.img-acL {
    width: 420px;
    height: 360px;
  }

  img.img-acF,
  img.img-ac {
    width: 370px;
    height: 155px;
  }
}
