@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;    
        border:1px solid black;
    }   

    nav
    {
        width: auto;
        
       
    }


    section
    {
        flex-direction: column;
        
    }

    article, aside
    {
        width: auto;
        margin-bottom: 15px;
    }
   	
   	footer
    {
        width: auto;
        flex-direction: column;
        
    }
}









body{
	font-family: raleway;
	display: flex;
	flex-direction: column;
	
}


header {
	border:0px solid black;
	display:flex;
	flex-direction : row;
	align-items :center;
}

img.logo
{
	border:0px solid black;
	width:80px;
}
a.black {
	color: #000000 ;
}

nav
{
	width:1240px;
	border:0px solid black;
	display:flex;
	flex-direction : row;
	justify-content: flex-end;
	align-items :center;
	font-family: Raleway;
	font-size: 14pt;
}

input[type="text"]::placeholder {  
                  
                /* Firefox, Chrome, Opera */ 
                padding-left: 5px; 
} 

.recherche {
	position: relative;
}

input{
  padding-left: 47px;
  height: 20px;
}

.fa-map-marker-alt {
	position: absolute;
 	left: 3px;
 	top: 85px;
 	width: 30px;
	border-radius: 8px;
	height: 25px
	color: black;
	
}

button.R{
	position: absolute;
 	left: 220px;
	background-color: blue;
	color: white;
	border-radius: 5px;
	height: 28px;
}

button.F {
	
	background-color: white;
	color: black;
	border-radius: 50px;
	height: 28px;
	width: 200px
	

	
}
button.F:hover {
	background-color:  #F2F2F2;
}

div.filtrage {
	position: relative;
	width: 900px;
	display:flex;
	justify-content: space-between;
	align-items :center;
	border:0px solid black;
}

.RECH {
	height: 36px;
}

article {
	border-radius: 10px;
	width:830px;
	height: 730px;
	border:0px solid black;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	align-items: flex-start;
	background-color: #F2F2F2;
}

section {
	width: 1339px; 
	border:0px solid black;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

img.HebM {
	 width: 100%; 
     height: 100%; 
     object-fit: cover; 
     object-position: 50% 50%; 
}
figure {
	border-radius: 10px;
	border:1px solid black;
	width:185px;
	height: 150px;
	

}

figcaption {
	border:1px solid black;
	background-color: white;

}

aside {
	border-radius: 10px;
	width:460px;
	height: 730px;
	border:0px solid black;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	align-items: flex-start;	
	background-color: #F2F2F2;
}

.cont-img {
	border-radius: 10px;
	width:245px;
	height: 240px;
	background-color: white;
	border:0px solid black;
	display:flex;
	justify-content: center;

}

.cont-imgp {
	border-radius: 10px;
	position: relative;
	width:425px;
	height: 180px;
	background-color: white;
	border:0px solid black;
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	

}

p.droite{
	background-color: white;
	border:0px solid black;
	position: absolute;
 	
 	top: 8px;
 	right: 45px
	
}

p.droites{
	background-color: white;
	border:0px solid black;
	position: absolute;
 	
 	top: 8px;
 	right: 50px
	
}

p.droitess{
	background-color: white;
	border:0px solid black;
	position: absolute;
 	
 	top: 8px;
 	right: 50px
	
}

.titre{
	width:830px;
	border:0px solid black;
	display: flex;
	justify-content: flex-start;
	
}

.activite {
	position: relative;
	width:665px;
	height: 410px;
	display:flex;
	justify-content: flex-start;
	border:0px solid black;
	background-color: white;
}

.A {
	border-radius: 10px;
	border:0px solid black;
	width:225px;
	height: 150px;
	
}

.AAA{
	border-radius: 10px;
	border:0px solid black;
	width:225px;
	height: 100px;
	position: absolute;
 	
 	top: 228px;
 	right: 45px;
}

.AA {
	border: thin #c0c0c0 solid;
    
	border-radius: 10px;
	border:0px solid black;
	width:230px;
	height: 330px;
	

}

.intro{
	width: 1338px;
	border:0px solid black;
}

.legende-A {
	background-color: white;
    color: black;
    padding: 3px;
    text-align: center;
    font-weight: bold;
}

.gras{
	font-weight: bold;
}

footer {
	background-color: #F2F2F2;
	border:0px solid black;
	width: 1339px;
	border:0px solid black;
	
}

.footerContenu {
	display: flex;
	justify-content: space-between;
	border:0px solid black;
}

.bloc{
	border:1px solid black;
	width: 400px;
}



.liste-A-propos,
.liste-nos-heb,
.liste-Assistance{
	list-style-type: none;
}

.fa-male{
	border-radius: 50px;
	border:0px solid black;
	text-align: center;
	align-content: center;
	width: 40px;
	height: 20px;
	color: #0065FC;
	background-color: #F2F2F2;
	position: absolute;
 	
 	top: 19px;
 	right: 579px;
}
.fa-money-bill-wave{

	border-radius: 50px;
	border:0px solid black;
	text-align: center;
	align-content: center;
	width: 40px;
	height: 20px;
	color: #0065FC;
	background-color: #F2F2F2;
	position: absolute;
 	
 	top: 19px;
 	right: 791px;
}
.fa-heart{
	border-radius: 50px;
	border:0px solid black;
	text-align: center;
	align-content: center;
	width: 40px;
	height: 20px;
	color: #0065FC;
	background-color: #F2F2F2;
	position: absolute;
 	
 	top: 19px;
 	right: 367px;

}
.fa-dog
{
	border-radius: 50px;
	border:0px solid black;
	text-align: center;
	align-content: center;
	width: 40px;
	height: 20px;
	color: #0065FC;
	background-color: #F2F2F2;
	position: absolute;
 	
 	top: 19px;
 	right: 155px;
	
}

.fa-info-circle{
	background-color: white;
	color: #0065FC;
}

.fa-star{
	color: #0065FC;
}

